/bin
/dist
/doc

# build.properties is developer-specific
/build.properties

# Eclipse's .classpath contains developer-specific paths (e.g. to linked sources)
/.classpath

# Should always build model from source
/lib/swtmodel.jar

# Ripper output
*.log
/GUITAR-Default.GUI
/log_widget.xml

# EGit needs trailing newline
